.movie_list_header {
  padding: 0.625rem 1.875rem;

  justify-content: space-between;
  margin-bottom: 0.313rem;
}

.movie_list_heading {
  font-size: 26px;
  color: #ffe400;
}

.movie_filter {
  list-style: none;
  font-size: 16px;
}

.movie_filter_item {
  padding: 0.313rem 0.625rem;
  cursor: pointer;
}

.movie_filter_item.active {
  border-bottom: 1px solid #e6e6e6;
  font-weight: 500;
}

.movie_sorting {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  height: 30px;
  padding: 0 5px;
  margin: 0 10px;
}


.movie_cards{
  display: flex;
  flex-wrap;
  justify-content: space-evenly;
}
